* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    position: relative;
}

/* Header y navbar */
header {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}

.navbar .container-fluid .nav-link, .navbar .container-fluid .navbar-brand {
    color: white;

}

.top-main {
    height: 100vh;
    position: relative;
}

.top-main video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top-main .capa {
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(29, 29, 29);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.top-main .curva-topmain {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: #f5ebe2;
    z-index: 1;
    clip-path: url(#clipS);
}

.curva-top {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 500px;
    background: #f5ebe2;
    z-index: 2;
    clip-path: url(#clip2S);
}

.curva-bottom {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 500px;
    background: #f5ebe2;
    z-index: 2;
    clip-path: url(#clip2S-bottom);
}

/*about us*/

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
    background-color: #f5ebe2;
    flex-wrap: wrap;
    padding: 100px 90px;
}

.about-us .info-about-us {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-top: 10px;
}

.about-us .info-about-us p{
    font-size: 1.2rem;
    color: #451d07;
    font-family: "Enriqueta", serif;
    font-weight: 400;
    font-style: normal;
}

.about-us .info-about-us .titulo-section {
    font-size: 3rem;
    color: #451d07;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 0px 2px #451d07;
}

.about-us img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 0;
    margin-right: 10px;
    padding: 8px 8px 50px 8px;
    border-radius: 5px;
    box-shadow: -2px 0px 5px #451d07;
    transform: rotate(-5deg);
}

.about-us .info-about-us, .about-us img {
    margin: 10vh 0px;
}

/*about us fin*/

/*Servicios*/

.servicios {
    position:relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #dbd294;
}

.servicios .titulo-section {
    font-size: 3rem;
    color:  #451d07;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 90px;
    padding: 20px 0px 10px 0px;
    text-shadow: 1px 0px 2px #451d07;
}

.servicios .carousel-control-prev-icon {
    background-image: url('../assets/img/iconos/izq.png');
}

.servicios .carousel-control-next-icon {
    background-image: url('../assets/img/iconos/der.png');
}

.servicios .carousel-inner {
    padding: 90px 90px;
    height: 550px !important; 
}

.servicios .carousel-inner .carousel-item {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    height: 550px;
}

.servicios .carousel-inner .carousel-item.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    width: 80%;
    height: auto;
    opacity: 1;
}

.servicios .carousel-inner .carousel-item.active p,
.servicios .carousel-inner .carousel-item.active h5 {
    text-align: right;
    color:  #451d07;
    max-width: 600px;
    padding: 20px 100px 0px 0px;
}

.servicios .carousel-inner .carousel-item.active h5 {
    font-size: 2rem;
    font-family: "Merienda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.servicios .carousel-inner .carousel-item.active p {
    font-size: 1.2rem;
    font-family: "Enriqueta", serif;
    font-weight: 400;
    font-style: normal;
}

.servicios .carousel-inner .carousel-item.active img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-top: -30px;
    margin-left: 10px;
    padding: 8px 8px 60px 8px;
    border-radius: 5px;
    box-shadow: 2px 0px 5px  #000000;
    transform: rotate(5deg);
    background-color: #f5ebe2;

}

.servicios .carousel-inner .carousel-item.imgizq img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-top: -30px;
    margin-left: 10px;
    padding: 8px 8px 60px 8px;
    border-radius: 5px;
    box-shadow: -2px 0px 5px  #000000;
    transform: rotate(-5deg);
    background-color: #f5ebe2;
}

.servicios .carousel-inner .carousel-item.imgizq p,
.servicios .carousel-inner .carousel-item.imgizq h5 {
    text-align: right;
    color:  #451d07;
    max-width: 600px;
    padding: 20px 0px 0px 100px;
    text-align: left;
}

/*Equipo*/

    .equipo {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #f5ebe2;
    }

    .equipo h2, .equipo .mozos h3, .equipo .ganadero h3, .equipo .chefs h3 {
        font-size: 3rem;
        color:  #451d07;
        font-family: "Merienda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 30px;
    }

    .equipo h2 {
        text-shadow: 1px 0px 2px #451d07;
    }

    .equipo .mozos h3, .equipo .ganadero h3, .equipo .chefs h3 {
        font-size: 2rem;
        justify-content: flex-start;
    }

    .equipo .particulares {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        justify-items: top;
    }

    .equipo .particulares .card-equipo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 380px;
        height: auto;
        margin-top: 0;
        border-radius: 20px;
        box-shadow: 0px 0px 5px #451d07;
    }

    .equipo .particulares .mozos, .equipo .particulares .ganadero, .equipo .particulares .chefs {
        transition: transform 0.5s linear;
    }
        
    .equipo .particulares .mozos:hover, .equipo .particulares .ganadero:hover, .equipo .particulares .chefs:hover {
        transform: scale(1.15);
    }

    .equipo .card-equipo img {
        object-fit: contain;
        width: 360px;
        margin: 15px;
        border-radius: 20px;
    }

    .equipo .ganadero img {
        margin-top: 0;
    }

    .equipo .chefs img, .equipo .mozos img {
        margin-bottom: 0;
    }

    .equipo .card-equipo p {
        font-size: 1.5rem;
        font-family: "Enriqueta", serif;
        font-weight: 400;
        font-style: normal;
        color: #451d07;
        text-align: center;
        margin: 10px;
    }

/*Equipo final*/

/*Cocina*/

    .cocina {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: #dbd294;
    }

    .cocina h2 {
        font-size: 3rem;
        color:  #451d07;
        font-family: "Merienda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        text-shadow: 1px 0px 2px #451d07;
    }

    .cocina .carousel {
        height: 520px;
        width: 90%;
        background-color: #dbd294;
    }

    .cocina .carousel-control-prev-icon {
        background-image: url('../assets/img/iconos/izq.png');
    }
    
    .cocina .carousel-control-next-icon {
        background-image: url('../assets/img/iconos/der.png');
    }

    .cocina button {
        padding: 0px 40px;
    }

    .cocina .carousel .carousel-inner .carousel-item {
        display: none;
        background-color: #dbd294;
    }

    .cocina .carousel .carousel-inner .carousel-item.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 520px;
        background-color: #dbd294;
    }

    .cocina .carousel .carousel-inner .carousel-item .platos, .cocina .carousel .carousel-inner .carousel-item.active .platos{
        display: flex;
        flex-direction: row;
        width: 90%;
        align-items: center;
        justify-content: space-evenly;
        margin: 10px 40px;
    }

    .cocina .carousel .carousel-inner .card {
        border: none;
        border-radius: 0;
        height: 450px;
        background-color: #dbd294;
        padding: 10px;
    }

    .cocina .carousel .carousel-inner .card img{
        border: none;
        border-radius: 0;
        width: 380px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }

    .cocina .carousel .carousel-inner .card .card-body {
        margin-top: 10px;
        background-color: #dbd294;
    }

    .cocina .carousel .carousel-inner .card .card-body .card-title {
        font-size: 1.6rem;
        color:  #451d07;
        font-family: "Merienda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        text-decoration: overline;
    }

    .cocina .carousel .carousel-inner .card-container {
        perspective: 1000px; 
        width: 18rem;
        background-color: #dbd294;
    }

    .cocina .carousel .card-inner {
        width: 18rem;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        background-color: #dbd294;
    }

    .cocina .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 8px;
        background-color: #dbd294;
    }
    
    .cocina .card-back {
        transform: rotateY(180deg);
        padding: 15px;
    }

    .cocina .card-back p {
        font-size: 1.2rem;
        font-family: "Enriqueta", serif;
        font-weight: 400;
        font-style: normal;
        color: #451d07;
    }
    
    .cocina .card-container:hover .card-inner {
        transform: rotateY(180deg);
    }

/*Cocina final*/

    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: #f5ebe2;
    }

    .contacto h2 {
        font-size: 3rem;
        color:  #451d07;
        font-family: "Merienda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 89px;
        padding: 10px;
        text-shadow: 1px 0px 2px #451d07;
    }

    .contacto form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 500px;
    }

    .contacto form::placeholder {
        color: #451d07;
        font-family: "Enriqueta", serif;
        font-weight: 400;
        font-style: normal;
    }

    .contacto form div {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #451d0749;
        height: 45px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.458);
    }

    .contacto form div input {
        width: 400px;
        border: none;
        height: 45px;
        padding: 0px 10px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        transition: transform 1s ease;
    }

    .contacto form div input:focus {
        transform: scale(1.08);
        outline: none;
    }

    .contacto form div label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        border: none;
        height: 45px;
        text-align: center;
        font-family: "Enriqueta", serif;
        font-weight: 400;
        font-style: normal;
    }

    .contacto form div select {
        border-radius: 15px;
        border: none;
        width: 100%;
        padding: 10px;
    }

    .contacto form .fecha label {
        width: 200px;
    }

    .contacto form .submit {
        border: none;
        border-radius: 15px;
        background-color: white;
        height: 45px;
        width: 100px;
        box-shadow: 0px 0px 10px rgba(79, 79, 79, 0.458);
        transition: background-color 0.5s ease;
    }

    .contacto form .submit:hover {
        background-color: #451d0749;
    }

    footer {
        background: #222;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }
    .footer-logo h2 {
        color: #FFD700;
    }
    .footer-links ul {
        list-style: none;
        padding: 0;
    }
    .footer-links ul li {
        margin: 5px 0;
    }
    .footer-links a {
        color: white;
        text-decoration: none;
    }
    .footer-contact p, .footer-copy {
        margin: 5px 0;
    }
    .footer-social a {
        color: white;
        margin: 0 10px;
        font-size: 1.5em;
    }
    .footer-copy {
        margin-top: 10px;
        font-size: 0.9em;
    }

    @media(max-width:1600px) {
        .cocina .carousel .carousel-inner .platos .card-container .card-img-top {
            width: 300px;
        }

        .cocina .carousel {
            width: 100%;
        }
    }

    @media(max-width:1260px) {
        /*.about-us {
            padding: 100px 40px
        }*/

        .about-us img, .about-us .info-about-us {
            margin: 0;
        }

        .about-us {
            padding: 50px 10px;
        }
    }