* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100vh;
    position: relative;
}

/* Header y navbar */
header {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}

.navbar .container-fluid .nav-link, .navbar .container-fluid .navbar-brand {
    color: white;

}

.top-main {
    height: 100vh;
    position: relative;
}

.top-main video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top-main .capa {
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(29, 29, 29);
    opacity: 0.5;
    mix-blend-mode: overlay;
}

/*about us*/

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    width: 100%;
    height: 100vh;
    background-color: #f5ebe2;
    flex-wrap: wrap;
    padding: 100px 90px;
}

.about-us .info-about-us {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.about-us .info-about-us p{
    max-width: 600px;
}

.about-us img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 0;
    margin-right: 10px;
}

.about-us .info-about-us, .about-us img {
    margin: 20vh 0px;
}

/*about us fin*/

.servicios {
    display: flex;
    background-color: #ad734e;
}

